@page "{id}"
@using ContosoCrafts.WebSite.Services
@inject JsonFileTravelTipService TravelTipService
@model ContosoCrafts.WebSite.Pages.TravelTipsProduct.UpdateTravelTipModel
@{
	ViewData["Title"] = "Update Travel Tip page";
}

<h1>Update Travel Tip</h1>