@page
@using ContosoCrafts.WebSite.Components
@model IndexPageModel
@{
    ViewData["Title"] = "Index Page";
}
<div class="custom-margin-top">
<div class="text-center">
    <h1 class="display4">List of Cities</h1>
</div>

<div class="container">
    <a asp-page="Create" class="tabledata">+ Create</a>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th><center>Action</center></th>
            </tr>
        </thead>

        <tbody class="tabledata">
            @foreach (var product in Model.Products)
            {
                <tr>
                    <td>@product.Title</td>
                    <td><a asp-page="Read" asp-route-id="@product.Id">Read</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
</div>