@page "{id}"
@model ContosoCrafts.WebSite.Pages.Product.MapModel
@using ContosoCrafts.WebSite.Services
@inject JsonFileProductService ProductService

@{
    ViewData["Title"] = "Map Page";
}

@if(Model.Product != null)
{
    <div class="custom-margin-top text-center">
        <h1 class="display4">
            Map
        </h1>
    </div>

    <div class="container">

        <iframe class="map-frame col-12"
            referrerpolicy="no-referrer-when-downgrade"
            src="https://www.google.com/maps/embed/v1/place?zoom=4&key=@MapModel.APIKey&q=@Model.Product.Title">
        </iframe>
    </div>
}