@page
@using ContosoCrafts.WebSite.Components
@model ContosoCrafts.WebSite.Pages.CitiesModel
@{
    ViewData["Title"] = "Cities page";
}

<div class="container1">
    <div class="card">
        <img class="cityimg" src="@Url.Content("~/Content/pexels-chaitaastic-1796730.jpg")" alt="City">
        <div class="centered">
            <h1>City</h1>
            <h5>Cities are buzzing with energy—where cool people, new ideas, and endless opportunities collide. It’s where life happens!</h5>
            <button class="styled-button" onclick="scrollToBottom()"> <h6 class="buttontext">Explore Now!</h6></button>
           
        </div>
    </div>
</div>

<div class="text-center">
    <h1 class="display4">Cities</h1>
</div>

<div class=" container">

@(await Html.RenderComponentAsync<ProductList>(RenderMode.ServerPrerendered))

</div>

<script src="_framework/blazor.server.js"></script>
<script>
    function scrollToBottom() {
        window.scrollTo({
            top: document.body.scrollHeight / 6,
        });
    }
</script>