@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<div class="custom-margin-top">
    <div class="container py-5">
        <h1 class="text-danger">Error</h1>
        <h1 class="text-danger">@Model.ErrorMessage</h1>
    </div>
</div>