@page
@using ContosoCrafts.WebSite.Components
@model ContosoCrafts.WebSite.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1
        class="display4"
        style="font-weight: 500;"
    >Cities</h1>
</div>

@(await Html.RenderComponentAsync<ProductList>(RenderMode.ServerPrerendered))

<script src="_framework/blazor.server.js"></script>