@page
@using ContosoCrafts.WebSite.Components
@model ReadModel
@{
    ViewData["Title"] = "Read page";
}

<div class="text-center">
    <h1 class="display4"
        style="font-weight: 500;">
        &ltCity Name&gt
    </h1>
</div>
