@page
@model ContosoCrafts.WebSite.Pages.TravelTipsModel
@{
    ViewData["Title"] = "Travel Tips page";
}


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Contoso Crafts</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css?family=Yellowtail&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
</head>
<body>

    <div class="container1">
        <div class="card1">
            <img src="@Url.Content("~/Content/pexels-pixabay-531602.jpg")" alt="Travel Tips" width="100%" height="600">
            <div class="centered">
                <h1>Travel Tips</h1>
                <h5>Ready to make your next adventure unforgettable? Discover essential travel tips to help you explore smarter, safer, and with more fun!</h5>
                <button class="styled-button" onclick="window.location.href='#card-body'"> <h6 class="buttontext">Explore Now!</h6></button>
                <div id="card-body">
                </div>
            </div>

        </div>
    </div>

    <div class="container">
        <h2 style="text-align:center">Under Construction!A lot more to come soon</h2>
    </div>

    <footer class="border-top footer text-muted bg-footer">
        <div class="container">
            &copy; 2019 - ContosoCrafts.WebSite - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    
</body>
