@page
@model TravelTipsModel
@{
    ViewData["Title"] = "Travel Tips page";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Contoso Crafts</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css?family=Yellowtail&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
</head>

<body>
    
    <div class="container1">

        <div class="card1">
            <img src="@Url.Content("~/Content/pexels-pixabay-531602.jpg")" alt="Travel Tips" width="100%" height="600">

            <div class="centered">
                <h1>Travel Tips</h1>
                <h5>Ready to make your next adventure unforgettable? Discover essential travel tips to help you explore smarter, safer, and with more fun!</h5>
                <button class="styled-button" onclick="window.location.href='#card-body'"> <h6 class="buttontext">Explore Now!</h6></button>

                <div id="card-body">
                </div>
            </div>
        </div>

    </div>

    <div class="container">
        <h1 class="display4"
            style="font-weight: 500; color: orangered; margin-bottom: 20px;">
            Travel Tips
        </h1>

        <dl>
            <dt style="margin-top: 15px; color: orangered;">
                1. Don't have too ambitious of a plan
            </dt>

            <dd style="margin-bottom: 15px;">
                It's natural to want to fit in as many attractions and activities as you can, but don't get caught up in your schedule and
                forget to enjoy your trip. Instead of planning out every minute of every day, only schedule the essential activities and let
                the rest of your journey be open to free exploration!
            </dd>

            <dt style="margin-top: 15px; color: orangered;">
                2. Pack Smart
            </dt>

            <dd style="margin-bottom: 15px;">
                You don't want to be bogged down by a heavy suitcase on your vacation, so pack light with plenty of layers for every occasion.
                Don't forget to pack adapters for your electronics and a compact toiletry bag. Keep in mind that rolling your clothes can
                sometimes save space compared to folding them, and can help with wrinkles.
            </dd>

            <dt style="margin-top: 15px; color: orangered;">
                3. Learn Key Phrases
            </dt>

            <dd style="margin-bottom: 15px;">
                While you don't necessarily need to be fluent in the language of your destination, knowing some key phrases like "Hello",
                "Thank you", and "Where is the bathroom?" can take you a long way while in a foreign country. Not only will these phrases
                allow you to easily navigate throughout your destination, but they will also help show the locals that you're willing to go
                above and beyond to fit in with their culture!
            </dd>

            <dt style="margin-top: 15px; color: orangered;">
                4. Research Modes of Transportation
            </dt>

            <dd style="margin-bottom: 15px;">
                Different countries and cities have various ways of getting around, and many major cities have plenty of public transportation
                to help you get where you need to be fast and cheap. Take some time to research before your vacation to discover the best way
                to get around, and look for any apps or websites used by locals to help you buy tickets.
            </dd>

            <dt style="margin-top: 15px; color: orangered;">
                5. Try Local Food
            </dt>

            <dd style="margin-bottom: 15px;">
                Don't be afraid to go out of your comfort zone and try something new. After all, that's what a vacation is all about! Talk to
                locals about traditional foods that are a must-have in the area, and make sure to try some to get the full vacation
                experience.
            </dd>

            <dt style="margin-top: 15px; color: orangered;">
                6. Be Respectful of Local Customs
            </dt>

            <dd style="margin-bottom: 15px;">
                Cultures vary widely throughout the world, so make sure you are aware of the practices locals follow in your vacation
                destination. Look out for dress codes and ways of showing respect, especially if visiting a religious area.
            </dd>

            <dt style="margin-top: 15px; color: orangered;">
                7. Keep a Digital Copy of Your Passport
            </dt>

            <dd style="margin-bottom: 15px;">
                While your physical passport is a must-have on your travels, a digital copy can help you in a situation where your passport
                gets misplaced or stolen. It's always good to have a backup.
            </dd>

            <dt style="margin-top: 15px; color: orangered;">
                8. Budget More Than You Think You'll Need
            </dt>

            <dd style="margin-bottom: 15px;">
                Vacationing can get costly fast, so it's good to have a little room in your budget for souvenirs, tips, and other expenses.
                You never know what will come up, and sometimes activities or food can be more expensive than you expect, so having a large
                budget will help prevent any surprises.
            </dd>

            <dt style="margin-top: 15px; color: orangered;">
                9. Be Aware of Your Surroundings
            </dt>

            <dd style="margin-bottom: 15px;">
                Pickpocketing is common in any place that sees a lot of tourists, so consider purchasing a money belt or crossbody bag to keep
                your valuables close to you. Never keep your smartphone in your back pocket, and always be vigilant in unfamiliar
                neighborhoods.
            </dd>

            <dt style="margin-top: 15px; color: orangered;">
                10. Stay Hydrated and Healthy
            </dt>

            <dd style="margin-bottom: 15px;">
                Keep a water bottle and some snacks on you throughout your day, especially if you're doing a lot of walking around. Try to eat
                regularly and bring sunscreen and a hat to protect from the sun.
            </dd>
        </dl>
    </div>

    <div class="container">
        <h1 class="display4"
            style="font-weight: 500; color: orangered; margin-bottom: 20px;">
            Helpful Sites
        </h1>

        <dl>
            <dt style="margin-top: 15px;">
                <a href="https://www.airbnb.com/" target="_blank" rel="noopener noreferrer">
                    Airbnb
                </a>
            </dt>

            <dd style="margin-bottom: 15px;">
                Want to get a truly local experience? Book your stay with Airbnb to find a residence that feels more like home.
            </dd>

            <dt style="margin-top: 15px;">
                <a href="https://www.booking.com/" target="_blank" rel="noopener noreferrer">
                    Booking.com
                </a>
            </dt>

            <dd style="margin-bottom: 15px;">
                Use this site to book hotels, flights, car rentals, and more!
            </dd>

            <dt style="margin-top: 15px;">
                <a href="https://wwwnc.cdc.gov/travel" target="_blank" rel="noopener noreferrer">
                    CDC Travelers' Health
                </a>
            </dt>

            <dd style="margin-bottom: 15px;">
                Check out the CDC's site for health advisories and vaccine requirements specific to your destination.
            </dd>

            <dt style="margin-top: 15px;">
                <a href="https://www.duolingo.com/" target="_blank" rel="noopener noreferrer">
                    Duolingo
                </a>
            </dt>

            <dd style="margin-bottom: 15px;">
                Practice the local language before your trip with a fun and interactive language learning app.
            </dd>

            <dt style="margin-top: 15px;">
                <a href="https://www.google.com/maps" target="_blank" rel="noopener noreferrer">
                    Google Maps
                </a>
            </dt>

            <dd style="margin-bottom: 15px;">
                Get around with all modes of transportation: walking, driving, public transportation, and cycling!
            </dd>

            <dt style="margin-top: 15px;">
                <a href="https://translate.google.com/" target="_blank" rel="noopener noreferrer">
                    Google Translate
                </a>
            </dt>

            <dd style="margin-bottom: 15px;">
                If you encounter a language barrier while on your trip, pull out your phone and communicate through Google Translate.
            </dd>

            <dt style="margin-top: 15px;">
                <a href="https://travel.state.gov/content/travel.html" target="_blank" rel="noopener noreferrer">
                    Travel.State.Gov
                </a>
            </dt>

            <dd style="margin-bottom: 15px;">
                If you're coming from the United States, check out travel advisories and important safety information here.
            </dd>

            <dt style="margin-top: 15px;">
                <a href="https://www.tripadvisor.com/" target="_blank" rel="noopener noreferrer">
                    TripAdvisor
                </a>
            </dt>

            <dd style="margin-bottom: 15px;">
                Compare ratings for hotels, attractions, and restaurants to find the best places to visit while on vacation!
            </dd>
        </dl>
    </div>

    <footer class="border-top footer text-muted bg-footer">
        <div class="container">
            &copy; 2024 - VacationDestination.WebSite - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    
</body>
