@page
@model ContosoCrafts.WebSite.Pages.UpdateModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>City Information Form</title>
</head>
<body>
    <h2>Update Page</h2>
    <form action="/submit" method="get">

        
        <label for="city-name">City Name:</label><br>
        <input type="text" id="city-name" name="city-name" placeholder="City Name" required><br><br>

        
        <label for="image1">Image URL 1:</label><br>
        <input type="url" id="image1" name="image1" placeholder="Url of the image" required><br><br>

        <label for="image2">Image URL 2:</label><br>
        <input type="url" id="image2" name="image2" placeholder="Url of the image"><br><br>

        <label for="image3">Image URL 3:</label><br>
        <input type="url" id="image3" name="image3" placeholder="Url of the image"><br><br>
    </form>
</body>
</html>
