.checked {
  color: #1b6ec2;
}

.fa-star {
  cursor: pointer;
}

.no-pointer {
    pointer-events: none;
    cursor: default;
}

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
.card-columns .card:hover .card-img {
    opacity: 1;
    -webkit-transform-style: preserve-3d;
    
}

.text-center {
    color: orangered;
}

.card-columns .card-body {
    height: 100px;
    font-family: 'Century Gothic', sans-serif;
    font-weight: bold;
    background: #fff8e7;
    color: orangered;
    text-align: center;
}

.container1 {
    position: relative;
    text-align: center;
    color: #faf0e6;
    font-family: 'Century Gothic';
    margin-bottom: 50px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
}

.card-columns .card-img {
  height: 330px;
  vertical-align: bottom;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  opacity: .8;
}

.table th, .table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f5ad93ff;
}

tr:nth-child(even) {
    background-color: #f5b1987e;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

tr:hover {
    transform: scale(1.02);
    box-shadow: 0 10px 20px rgba(37,33,82,.12), 0 4px 8px rgba(37,33,82,.06);
    
}

.modal .card-img {
  height: 500px;
  vertical-align: bottom;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.card-columns .card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(37,33,82,.12), 0 4px 8px rgba(37,33,82,.06);
    background-color: indianred;
}

.productTitle{
   font-family:'Century Gothic';
   text-align: center;
   color:red;
   
}

.card-footer {
    background: #fefefa;
}

/* Styles for read page */
.description {
    margin-top: 20px;
}

.title {
    font-family: 'Century Gothic';
    font-weight: bold;
    font-size: 2em;
}

dt {
    font-family: 'Century Gothic';
}

dd {
    font-family: 'Century Gothic';
    margin-bottom: 4px;
}

html {
    scroll-behavior: smooth;
    
}

.styled-button {
   background-color: #f5f5dc; /* Initial background color */
   color: red; /* Text color */
   padding: 10px 20px; /* Padding around the text */
   border: none; /* Removes border */
   border-radius: 50px; /* Rounded corners */
   cursor: pointer; /* Changes cursor to pointer on hover */
   transition: background-color 0.3s ease; /* Smooth transition */
   display:inline-block;  
}

.buttontext {
    padding-top:5px;
    color: orangered;
    
}

/* Change color on hover */
.styled-button:hover {
    background-color: #ffd3a5; /* Color when hovered */
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(37,33,82,.12), 0 4px 8px rgba(37,33,82,.06);
}

a.navbar-brand {
    white-space: normal;
    font-family: 'Century Gothic', sans-serif;
    text-align: right;
    word-break: break-all;
    font-size: 24px;
    padding-left: 0px;
    font-weight: 800;
}

img.logo{
    height:85px;
    width: 100px;

}

/* Provide sufficient contrast against white background */
a {
   color: #0366d6;
}

.btn-primary {
   color: #fc0505;
   background-color: #fff;
   border-color: #fff;
}

.btn-update {
    color: #fff;
    background-color: var(--primary);
    border-color: var(--primary);
    display: inline-block;
    margin-right: 10px;
}

.btn-update:hover {
    background-color: var(--cyan);
}

.btn-delete {
    color: #fff;
    background-color: red;
    border-color: red;
    display: inline-block;
    margin-right: 10px;
}

.btn-delete:hover {
    background-color: var(--cyan);
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 20px;
   
}

.filter-columns input {
    padding: 0.5rem;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    width: 75%;
}

.filtercontainer button {
    padding: 0.5rem;
    background-color: #F5F5DC;
    color: #FF0000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 25%;
}

@media (min-width: 768px) {
    html {
       font-size: 16px;
       text-align: justify;
    }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #fff !important;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem #fff;
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #f7f8fa;

}

p {
    font-family: 'Century Gothic';
    text-align: justify;
    font-weight: 200;
}

h1 {
    font-family: 'Century Gothic', sans-serif;
    text-align:center;
    
}

ul {
    font-family: 'Century Gothic', sans-serif;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    font-family: 'Nunito', sans-serif;
}

/*Backgrounds*/
.bg-navbar {
    background-color: #EEF2F3;
    
}

.bg-footer {
    background-color: #febb8a;
}

.tabledata{
    text-emphasis:initial;
    font-family:'Century Gothic';
}

.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
}

.slide {
    display: none;
}

img {
    width: 100%;
    vertical-align: middle;
}

/* Next and previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Fade animation */
.fade1 {
    animation-name: fade;
    animation-duration: 8s;
}

@keyframes fade {
    
     0% { opacity: 0.1; }  
  
    50%{opacity:1;}
     
    100% { opacity:0; } 
    
}

.textcolor {
    font-weight: bold;
    color: #3d2022;
    font-family: 'Californian FB';
    font-size:95px;
    text-align :center;
}

.paracolor {
    font-weight: bold;
    color: #ca3433;
    font-family: 'Century Gothic';
    text-align:center;
    font-size:25px;
}

.centeredHome {
    
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.new-styled-button {
    background-color: white; /* Initial background color */
    color: red; /* Text color */
    padding: 10px 20px; /* Padding around the text */
    border: none; /* Removes border */
    border-radius: 90px; /* Rounded corners */
    cursor: pointer; /* Changes cursor to pointer on hover */
    transition: background-color 0.3s ease; /* Smooth transition */
    display: inline-block;
    margin-right: 5px;
}

.display4 {
    font-weight: 500; 
    color: orangered; 
    margin-bottom: 20px;
}

.margintop {
    margin-top: 15px;
}

.marginbottom {
    margin-bottom: 15px;
}
.margintopcolored {
    margin-top: 15px;
    color: orangered;
}

.background_image {
    margin-top:105px;
    width: 100vw;
    height: 650px;
}

.cityimg {
    margin-top: 105px;
    width: 100vw;
    height: 600px;
}
.buttoncentered {
    position: absolute;
    top: 80%;
    left:50%;
    gap:30%;
    transform: translate(-50%, -50%);
}
.index-styled-button {
    background-color: #f5f5dc; /* Initial background color */
    color: red; /* Text color */
    padding: 10px 20px; /* Padding around the text */
    border: none; /* Removes border */
    border-radius: 90px; /* Rounded corners */
    cursor: pointer; /* Changes cursor to pointer on hover */
    transition: background-color 0.3s ease; /* Smooth transition */
    display: inline-block;
    margin-right: 20px;
    padding-top: 20px;
    color: orangered;
    font-family: 'Century Gothic';
}

.index-styled-button:hover {
    background-color: #ffd3a5; /* Color when hovered */
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(37,33,82,.12), 0 4px 8px rgba(37,33,82,.06);
}
.custom-margin-top {
    margin-top: 100px;
}/* Map */

.map-frame {
    height: 600px;
    border: none;
}